.navbar{
    width: 100%;
    background-color: black;
    height: 2em;
    padding: .5em;
    span{
        color: white;
        font-weight: 900;
        font-size: 1em;
    }
}
.content-children{
    margin: 5em;
}